.container {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 50px;
        background-color: #fff;
        color: #000000;
        padding-top: 100px;
}


.fontInfo {
    max-width: 600px; 
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.03em;
    text-align: center;

}

.destaque {
    color: #E91E62;

}

.card {
    width: 108px;
    height: 77px;
    top: 1396px;
    left: 356px;
    border-radius: 15px;
    background-color: #E91E62;
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.exploreTitulo {
    font-weight: 700;
    font-size: 27px;
}

.exploreSubtitulo {
    font-weight: 400;
    font-size: 18px;
}

.exploreInfo {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    text-align: end;
}


.exploreInfoEnd {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.containerCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}


